In [1]:
import pandas as pd

In [2]:
se=pd.Series([1,2,3,4,5,6,7,8,9])

In [3]:
se.shape

(9,)

In [4]:
se.dtypes

dtype('int64')

In [5]:
se.index=['a','b','c','d','e','f','g','h','i'
]

In [6]:
se

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [7]:
se.iloc[3:4]

d    4
dtype: int64

In [8]:
se.iloc[:7]

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [9]:
se.loc['c']

3

In [10]:
se.loc['i']

9

In [11]:
se.loc['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
se[['a','e']]

a    1
e    5
dtype: int64

In [13]:
se.columns=['alpha','number']

In [14]:
se

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

In [15]:
se[se>6]

g    7
h    8
i    9
dtype: int64

In [16]:
se+2

a     3
b     4
c     5
d     6
e     7
f     8
g     9
h    10
i    11
dtype: int64

In [17]:
se*2

a     2
b     4
c     6
d     8
e    10
f    12
g    14
h    16
i    18
dtype: int64

In [18]:
se/2

a    0.5
b    1.0
c    1.5
d    2.0
e    2.5
f    3.0
g    3.5
h    4.0
i    4.5
dtype: float64

In [19]:
se['a':'i'].sum()

45

In [20]:
se['c':'i'].mean()

6.0

In [21]:
se.iloc[3:5].sum()

9

In [22]:
import numpy as np

In [23]:
df=pd.DataFrame(np.arange(0,10).reshape(5,2),index=['row1','row2','row3','row4','row5'],columns=['col1','col2'])

In [24]:
df

      col1  col2
row1     0     1
row2     2     3
row3     4     5
row4     6     7
row5     8     9

In [25]:
df.head()

      col1  col2
row1     0     1
row2     2     3
row3     4     5
row4     6     7
row5     8     9

In [26]:

df.describe()

           col1      col2
count  5.000000  5.000000
mean   4.000000  5.000000
std    3.162278  3.162278
min    0.000000  1.000000
25%    2.000000  3.000000
50%    4.000000  5.000000
75%    6.000000  7.000000
max    8.000000  9.000000

In [27]:
df.count

<bound method DataFrame.count of       col1  col2
row1     0     1
row2     2     3
row3     4     5
row4     6     7
row5     8     9>

In [28]:
df.isnull()

       col1   col2
row1  False  False
row2  False  False
row3  False  False
row4  False  False
row5  False  False

In [29]:
df.isnull().value_counts()

col1   col2
False  False    5
dtype: int64

In [30]:
df.isnull().sum(axis=1)

row1    0
row2    0
row3    0
row4    0
row5    0
dtype: int64

In [31]:
df.loc['row1']

col1    0
col2    1
Name: row1, dtype: int32

In [32]:
df1=pd.read_csv('G:\\ML\\pokemon_data.csv',header=0,index_col=False)

In [33]:
df1

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [34]:
pd.read_csv?

In [35]:
df1.reset_index(drop=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [36]:
df1.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [37]:
df2=df1.set_index('#')

In [38]:
df2.value_counts()

Name              Type 1   Type 2  HP   Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Abomasnow         Grass    Ice     90   92      75       92       85       60     4           False        1
Probopass         Rock     Steel   60   55      145      75       150      40     4           False        1
Rayquaza          Dragon   Flying  105  150     90       150      90       95     3           True         1
Ralts             Psychic  Fairy   28   25      25       45       35       40     3           False        1
Qwilfish          Water    Poison  65   95      75       55       55       85     2           False        1
                                                                                                          ..
Golurk            Ground   Ghost   89   124     80       55       80       55     5           False        1
Golett            Ground   Ghost   59   74      50       35       50       35     5           False        1
Golem             Rock     Ground  80   120     130      55       65       45     1           False        1
Golbat            Poison   Flying  75   80      70       65       75       90     1           False        1
Zygarde50% Forme  Dragon   Ground  108  100     121      81       95       95     6           True         1
Length: 414, dtype: int64

In [39]:
df2['Name'].unique()

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard',
       'CharizardMega Charizard X', 'CharizardMega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'BlastoiseMega Blastoise',
       'Caterpie', 'Metapod', 'Butterfree', 'Weedle', 'Kakuna',
       'Beedrill', 'BeedrillMega Beedrill', 'Pidgey', 'Pidgeotto',
       'Pidgeot', 'PidgeotMega Pidgeot', 'Rattata', 'Raticate', 'Spearow',
       'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew',
       'Sandslash', 'Nidoran (Female)', 'Nidorina', 'Nidoqueen',
       'Nidoran (Male)', 'Nidorino', 'Nidoking', 'Clefairy', 'Clefable',
       'Vulpix', 'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Zubat',
       'Golbat', 'Oddish', 'Gloom', 'Vileplume', 'Paras', 'Parasect',
       'Venonat', 'Venomoth', 'Diglett', 'Dugtrio', 'Meowth', 'Persian',
       'Psyduck', 'Golduck', 'Mankey', 'Primeape', 'Growlithe',
       'Arcanine', 'Poliwag', 'Poliwhirl', 'Poliwrath', 'Abra', 'Kadabra',
       'Alakazam', 'AlakazamMega Alakazam', 'Machop', 'Machoke',
       'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'SlowbroMega Slowbro', 'Magnemite',
       'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Dewgong',
       'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly', 'Haunter',
       'Gengar', 'GengarMega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'KangaskhanMega Kangaskhan', 'Horsea',
       'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime',
       'Scyther', 'Jynx', 'Electabuzz', 'Magmar', 'Pinsir',
       'PinsirMega Pinsir', 'Tauros', 'Magikarp', 'Gyarados',
       'GyaradosMega Gyarados', 'Lapras', 'Ditto', 'Eevee', 'Vaporeon',
       'Jolteon', 'Flareon', 'Porygon', 'Omanyte', 'Omastar', 'Kabuto',
       'Kabutops', 'Aerodactyl', 'AerodactylMega Aerodactyl', 'Snorlax',
       'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'MewtwoMega Mewtwo X',
       'MewtwoMega Mewtwo Y', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'AmpharosMega Ampharos',
       'Bellossom', 'Marill', 'Azumarill', 'Sudowoodo', 'Politoed',
       'Hoppip', 'Skiploom', 'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora',
       'Yanma', 'Wooper', 'Quagsire', 'Espeon', 'Umbreon', 'Murkrow',
       'Slowking', 'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig',
       'Pineco', 'Forretress', 'Dunsparce', 'Gligar', 'Steelix',
       'SteelixMega Steelix', 'Snubbull', 'Granbull', 'Qwilfish',
       'Scizor', 'ScizorMega Scizor', 'Shuckle', 'Heracross',
       'HeracrossMega Heracross', 'Sneasel', 'Teddiursa', 'Ursaring',
       'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola', 'Remoraid',
       'Octillery', 'Delibird', 'Mantine', 'Skarmory', 'Houndour',
       'Houndoom', 'HoundoomMega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'TyranitarMega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko',
       'Grovyle', 'Sceptile', 'SceptileMega Sceptile', 'Torchic',
       'Combusken', 'Blaziken', 'BlazikenMega Blaziken', 'Mudkip',
       'Marshtomp', 'Swampert', 'SwampertMega Swampert', 'Poochyena',
       'Mightyena', 'Zigzagoon', 'Linoone', 'Wurmple', 'Silcoon',
       'Beautifly', 'Cascoon', 'Dustox', 'Lotad', 'Lombre', 'Ludicolo',
       'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow', 'Swellow', 'Wingull',
       'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'GardevoirMega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish',
       'Breloom', 'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask',
       'Shedinja', 'Whismur', 'Loudred', 'Exploud', 'Makuhita',
       'Hariyama', 'Azurill', 'Nosepass', 'Skitty', 'Delcatty', 'Sableye',
       'SableyeMega Sableye', 'Mawile', 'MawileMega Mawile', 'Aron',
       'Lairon', 'Aggron', 'AggronMega Aggron', 'Meditite', 'Medicham',
       'MedichamMega Medicham', 'Electrike', 'Manectric',
       'ManectricMega Manectric', 'Plusle', 'Minun', 'Volbeat',
       'Illumise', 'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'SharpedoMega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'CameruptMega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'AltariaMega Altaria', 'Zangoose', 'Seviper',
       'Lunatone', 'Solrock', 'Barboach', 'Whiscash', 'Corphish',
       'Crawdaunt', 'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith',
       'Armaldo', 'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet',
       'Banette', 'BanetteMega Banette', 'Duskull', 'Dusclops', 'Tropius',
       'Chimecho', 'Absol', 'AbsolMega Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'GlalieMega Glalie', 'Spheal', 'Sealeo', 'Walrein',
       'Clamperl', 'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon',
       'Shelgon', 'Salamence', 'SalamenceMega Salamence', 'Beldum',
       'Metang', 'Metagross', 'MetagrossMega Metagross', 'Regirock',
       'Regice', 'Registeel', 'Latias', 'LatiasMega Latias', 'Latios',
       'LatiosMega Latios', 'Kyogre', 'KyogrePrimal Kyogre', 'Groudon',
       'GroudonPrimal Groudon', 'Rayquaza', 'RayquazaMega Rayquaza',
       'Jirachi', 'DeoxysNormal Forme', 'DeoxysAttack Forme',
       'DeoxysDefense Forme', 'DeoxysSpeed Forme', 'Turtwig', 'Grotle',
       'Torterra', 'Chimchar', 'Monferno', 'Infernape', 'Piplup',
       'Prinplup', 'Empoleon', 'Starly', 'Staravia', 'Staraptor',
       'Bidoof', 'Bibarel', 'Kricketot', 'Kricketune', 'Shinx', 'Luxio',
       'Luxray', 'Budew', 'Roserade', 'Cranidos', 'Rampardos', 'Shieldon',
       'Bastiodon', 'Burmy', 'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'LopunnyMega Lopunny', 'Mismagius', 'Honchkrow',
       'Glameow', 'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'GarchompMega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'LucarioMega Lucario', 'Hippopotas',
       'Hippowdon', 'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak',
       'Carnivine', 'Finneon', 'Lumineon', 'Mantyke', 'Snover',
       'Abomasnow', 'AbomasnowMega Abomasnow', 'Weavile', 'Magnezone',
       'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar',
       'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor',
       'Mamoswine', 'Porygon-Z', 'Gallade', 'GalladeMega Gallade',
       'Probopass', 'Dusknoir', 'Froslass', 'Rotom', 'RotomHeat Rotom',
       'RotomWash Rotom', 'RotomFrost Rotom', 'RotomFan Rotom',
       'RotomMow Rotom', 'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia',
       'Heatran', 'Regigigas', 'GiratinaAltered Forme',
       'GiratinaOrigin Forme', 'Cresselia', 'Phione', 'Manaphy',
       'Darkrai', 'ShayminLand Forme', 'ShayminSky Forme', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino',
       'AudinoMega Audino', 'Timburr', 'Gurdurr', 'Conkeldurr', 'Tympole',
       'Palpitoad', 'Seismitoad', 'Throh', 'Sawk', 'Sewaddle', 'Swadloon',
       'Leavanny', 'Venipede', 'Whirlipede', 'Scolipede', 'Cottonee',
       'Whimsicott', 'Petilil', 'Lilligant', 'Basculin', 'Sandile',
       'Krokorok', 'Krookodile', 'Darumaka', 'DarmanitanStandard Mode',
       'DarmanitanZen Mode', 'Maractus', 'Dwebble', 'Crustle', 'Scraggy',
       'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus', 'Tirtouga',
       'Carracosta', 'Archen', 'Archeops', 'Trubbish', 'Garbodor',
       'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita', 'Gothorita',
       'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus', 'Ducklett',
       'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe', 'Deerling',
       'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier', 'Foongus',
       'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola', 'Joltik',
       'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink', 'Klang',
       'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross', 'Elgyem',
       'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew', 'Fraxure',
       'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'TornadusIncarnate Forme',
       'TornadusTherian Forme', 'ThundurusIncarnate Forme',
       'ThundurusTherian Forme', 'Reshiram', 'Zekrom',
       'LandorusIncarnate Forme', 'LandorusTherian Forme', 'Kyurem',
       'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'KeldeoOrdinary Forme',
       'KeldeoResolute Forme', 'MeloettaAria Forme',
       'MeloettaPirouette Forme', 'Genesect', 'Chespin', 'Quilladin',
       'Chesnaught', 'Fennekin', 'Braixen', 'Delphox', 'Froakie',
       'Frogadier', 'Greninja', 'Bunnelby', 'Diggersby', 'Fletchling',
       'Fletchinder', 'Talonflame', 'Scatterbug', 'Spewpa', 'Vivillon',
       'Litleo', 'Pyroar', 'Flabébé', 'Floette', 'Florges', 'Skiddo',
       'Gogoat', 'Pancham', 'Pangoro', 'Furfrou', 'Espurr',
       'MeowsticMale', 'MeowsticFemale', 'Honedge', 'Doublade',
       'AegislashBlade Forme', 'AegislashShield Forme', 'Spritzee',
       'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay', 'Malamar', 'Binacle',
       'Barbaracle', 'Skrelp', 'Dragalge', 'Clauncher', 'Clawitzer',
       'Helioptile', 'Heliolisk', 'Tyrunt', 'Tyrantrum', 'Amaura',
       'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne', 'Carbink', 'Goomy',
       'Sliggoo', 'Goodra', 'Klefki', 'Phantump', 'Trevenant',
       'PumpkabooAverage Size', 'PumpkabooSmall Size',
       'PumpkabooLarge Size', 'PumpkabooSuper Size',
       'GourgeistAverage Size', 'GourgeistSmall Size',
       'GourgeistLarge Size', 'GourgeistSuper Size', 'Bergmite',
       'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde50% Forme', 'Diancie', 'DiancieMega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype=object)

In [40]:
df2.loc[df2['Attack']>10]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [41]:
# df2.loc[df2['HP']>100,'Speed']=df2.loc[df2['HP']]

In [42]:
df2.loc[df2['HP']==100].value_counts()

Name                     Type 1   Type 2    HP   Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Azumarill                Water    Fairy     100  50      80       60       80       50     2           False        1
Piloswine                Ice      Ground    100  100     80       60       60       50     2           False        1
Victini                  Psychic  Fire      100  100     100      100      100      100    5           True         1
TyranitarMega Tyranitar  Rock     Dark      100  164     150      95       120      71     2           False        1
Tyranitar                Rock     Dark      100  134     110      95       100      61     2           False        1
SwampertMega Swampert    Water    Ground    100  150     110      95       110      70     3           False        1
Swampert                 Water    Ground    100  110     90       85       90       60     3           False        1
ShayminSky Forme         Grass    Flying    100  103     75       120      75       127    4           True         1
Reshiram                 Dragon   Fire      100  120     100      150      120      90     5           True         1
Relicanth                Water    Rock      100  90      130      45       65       55     3           False        1
Noctowl                  Normal   Flying    100  50      50       76       96       70     2           False        1
Braviary                 Normal   Flying    100  123     75       57       75       80     5           False        1
MeloettaPirouette Forme  Normal   Fighting  100  128     90       77       77       128    5           False        1
MeloettaAria Forme       Normal   Psychic   100  77      77       128      128      90     5           False        1
Jirachi                  Steel    Psychic   100  100     100      100      100      100    3           True         1
Jellicent                Water    Ghost     100  60      70       85       105      60     5           False        1
Honchkrow                Dark     Flying    100  125     52       105      52       71     4           False        1
GroudonPrimal Groudon    Ground   Fire      100  180     160      150      90       90     3           True         1
Dialga                   Steel    Dragon    100  120     120      150      100      90     4           True         1
Celebi                   Psychic  Grass     100  100     100      100      100      100    2           False        1
Zekrom                   Dragon   Electric  100  150     120      120      100      90     5           True         1
dtype: int64

In [43]:
df2

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [44]:
df2[['Type 1','Type 2','Sp. Atk']]

      Type 1  Type 2  Sp. Atk
#
1      Grass  Poison       65
2      Grass  Poison       80
3      Grass  Poison      100
3      Grass  Poison      122
4       Fire     NaN       60
..       ...     ...      ...
719     Rock   Fairy      100
719     Rock   Fairy      160
720  Psychic   Ghost      150
720  Psychic    Dark      170
721     Fire   Water      130

[800 rows x 3 columns]

In [45]:
for index,rows in df2.iterrows():
    print(index,rows['Type 1'])

1 Grass
2 Grass
3 Grass
3 Grass
4 Fire
5 Fire
6 Fire
6 Fire
6 Fire
7 Water
8 Water
9 Water
9 Water
10 Bug
11 Bug
12 Bug
13 Bug
14 Bug
15 Bug
15 Bug
16 Normal
17 Normal
18 Normal
18 Normal
19 Normal
20 Normal
21 Normal
22 Normal
23 Poison
24 Poison
25 Electric
26 Electric
27 Ground
28 Ground
29 Poison
30 Poison
31 Poison
32 Poison
33 Poison
34 Poison
35 Fairy
36 Fairy
37 Fire
38 Fire
39 Normal
40 Normal
41 Poison
42 Poison
43 Grass
44 Grass
45 Grass
46 Bug
47 Bug
48 Bug
49 Bug
50 Ground
51 Ground
52 Normal
53 Normal
54 Water
55 Water
56 Fighting
57 Fighting
58 Fire
59 Fire
60 Water
61 Water
62 Water
63 Psychic
64 Psychic
65 Psychic
65 Psychic
66 Fighting
67 Fighting
68 Fighting
69 Grass
70 Grass
71 Grass
72 Water
73 Water
74 Rock
75 Rock
76 Rock
77 Fire
78 Fire
79 Water
80 Water
80 Water
81 Electric
82 Electric
83 Normal
84 Normal
85 Normal
86 Water
87 Water
88 Poison
89 Poison
90 Water
91 Water
92 Ghost
93 Ghost
94 Ghost
94 Ghost
95 Rock
96 Psychic
97 Psychic
98 Water
99 Water
100 Electric
101 Electric
102 Grass
103 Grass
104 Ground
105 Ground
106 Fighting
107 Fighting
108 Normal
109 Poison
110 Poison
111 Ground
112 Ground
113 Normal
114 Grass
115 Normal
115 Normal
116 Water
117 Water
118 Water
119 Water
120 Water
121 Water
122 Psychic
123 Bug
124 Ice
125 Electric
126 Fire
127 Bug
127 Bug
128 Normal
129 Water
130 Water
130 Water
131 Water
132 Normal
133 Normal
134 Water
135 Electric
136 Fire
137 Normal
138 Rock
139 Rock
140 Rock
141 Rock
142 Rock
142 Rock
143 Normal
144 Ice
145 Electric
146 Fire
147 Dragon
148 Dragon
149 Dragon
150 Psychic
150 Psychic
150 Psychic
151 Psychic
152 Grass
153 Grass
154 Grass
155 Fire
156 Fire
157 Fire
158 Water
159 Water
160 Water
161 Normal
162 Normal
163 Normal
164 Normal
165 Bug
166 Bug
167 Bug
168 Bug
169 Poison
170 Water
171 Water
172 Electric
173 Fairy
174 Normal
175 Fairy
176 Fairy
177 Psychic
178 Psychic
179 Electric
180 Electric
181 Electric
181 Electric
182 Grass
183 Water
184 Water
185 Rock
186 Water
187 Grass
188 Grass
189 Grass
190 Normal
191 Grass
192 Grass
193 Bug
194 Water
195 Water
196 Psychic
197 Dark
198 Dark
199 Water
200 Ghost
201 Psychic
202 Psychic
203 Normal
204 Bug
205 Bug
206 Normal
207 Ground
208 Steel
208 Steel
209 Fairy
210 Fairy
211 Water
212 Bug
212 Bug
213 Bug
214 Bug
214 Bug
215 Dark
216 Normal
217 Normal
218 Fire
219 Fire
220 Ice
221 Ice
222 Water
223 Water
224 Water
225 Ice
226 Water
227 Steel
228 Dark
229 Dark
229 Dark
230 Water
231 Ground
232 Ground
233 Normal
234 Normal
235 Normal
236 Fighting
237 Fighting
238 Ice
239 Electric
240 Fire
241 Normal
242 Normal
243 Electric
244 Fire
245 Water
246 Rock
247 Rock
248 Rock
248 Rock
249 Psychic
250 Fire
251 Psychic
252 Grass
253 Grass
254 Grass
254 Grass
255 Fire
256 Fire
257 Fire
257 Fire
258 Water
259 Water
260 Water
260 Water
261 Dark
262 Dark
263 Normal
264 Normal
265 Bug
266 Bug
267 Bug
268 Bug
269 Bug
270 Water
271 Water
272 Water
273 Grass
274 Grass
275 Grass
276 Normal
277 Normal
278 Water
279 Water
280 Psychic
281 Psychic
282 Psychic
282 Psychic
283 Bug
284 Bug
285 Grass
286 Grass
287 Normal
288 Normal
289 Normal
290 Bug
291 Bug
292 Bug
293 Normal
294 Normal
295 Normal
296 Fighting
297 Fighting
298 Normal
299 Rock
300 Normal
301 Normal
302 Dark
302 Dark
303 Steel
303 Steel
304 Steel
305 Steel
306 Steel
306 Steel
307 Fighting
308 Fighting
308 Fighting
309 Electric
310 Electric
310 Electric
311 Electric
312 Electric
313 Bug
314 Bug
315 Grass
316 Poison
317 Poison
318 Water
319 Water
319 Water
320 Water
321 Water
322 Fire
323 Fire
323 Fire
324 Fire
325 Psychic
326 Psychic
327 Normal
328 Ground
329 Ground
330 Ground
331 Grass
332 Grass
333 Normal
334 Dragon
334 Dragon
335 Normal
336 Poison
337 Rock
338 Rock
339 Water
340 Water
341 Water
342 Water
343 Ground
344 Ground
345 Rock
346 Rock
347 Rock
348 Rock
349 Water
350 Water
351 Normal
352 Normal
353 Ghost
354 Ghost
354 Ghost
355 Ghost
356 Ghost
357 Grass
358 Psychic
359 Dark
359 Dark
360 Psychic
361 Ice
362 Ice
362 Ice
363 Ice
364 Ice
365 Ice
366 Water
367 Water
368 Water
369 Water
370 Water
371 Dragon
372 Dragon
373 Dragon
373 Dragon
374 Steel
375 Steel
376 Steel
376 Steel
377 Rock
378 Ice
379 Steel
380 Dragon
380 Dragon
381 Dragon
381 Dragon
382 Water
382 Water
383 Ground
383 Ground
384 Dragon
384 Dragon
385 Steel
386 Psychic
386 Psychic
386 Psychic
386 Psychic
387 Grass
388 Grass
389 Grass
390 Fire
391 Fire
392 Fire
393 Water
394 Water
395 Water
396 Normal
397 Normal
398 Normal
399 Normal
400 Normal
401 Bug
402 Bug
403 Electric
404 Electric
405 Electric
406 Grass
407 Grass
408 Rock
409 Rock
410 Rock
411 Rock
412 Bug
413 Bug
413 Bug
413 Bug
414 Bug
415 Bug
416 Bug
417 Electric
418 Water
419 Water
420 Grass
421 Grass
422 Water
423 Water
424 Normal
425 Ghost
426 Ghost
427 Normal
428 Normal
428 Normal
429 Ghost
430 Dark
431 Normal
432 Normal
433 Psychic
434 Poison
435 Poison
436 Steel
437 Steel
438 Rock
439 Psychic
440 Normal
441 Normal
442 Ghost
443 Dragon
444 Dragon
445 Dragon
445 Dragon
446 Normal
447 Fighting
448 Fighting
448 Fighting
449 Ground
450 Ground
451 Poison
452 Poison
453 Poison
454 Poison
455 Grass
456 Water
457 Water
458 Water
459 Grass
460 Grass
460 Grass
461 Dark
462 Electric
463 Normal
464 Ground
465 Grass
466 Electric
467 Fire
468 Fairy
469 Bug
470 Grass
471 Ice
472 Ground
473 Ice
474 Normal
475 Psychic
475 Psychic
476 Rock
477 Ghost
478 Ice
479 Electric
479 Electric
479 Electric
479 Electric
479 Electric
479 Electric
480 Psychic
481 Psychic
482 Psychic
483 Steel
484 Water
485 Fire
486 Normal
487 Ghost
487 Ghost
488 Psychic
489 Water
490 Water
491 Dark
492 Grass
492 Grass
493 Normal
494 Psychic
495 Grass
496 Grass
497 Grass
498 Fire
499 Fire
500 Fire
501 Water
502 Water
503 Water
504 Normal
505 Normal
506 Normal
507 Normal
508 Normal
509 Dark
510 Dark
511 Grass
512 Grass
513 Fire
514 Fire
515 Water
516 Water
517 Psychic
518 Psychic
519 Normal
520 Normal
521 Normal
522 Electric
523 Electric
524 Rock
525 Rock
526 Rock
527 Psychic
528 Psychic
529 Ground
530 Ground
531 Normal
531 Normal
532 Fighting
533 Fighting
534 Fighting
535 Water
536 Water
537 Water
538 Fighting
539 Fighting
540 Bug
541 Bug
542 Bug
543 Bug
544 Bug
545 Bug
546 Grass
547 Grass
548 Grass
549 Grass
550 Water
551 Ground
552 Ground
553 Ground
554 Fire
555 Fire
555 Fire
556 Grass
557 Bug
558 Bug
559 Dark
560 Dark
561 Psychic
562 Ghost
563 Ghost
564 Water
565 Water
566 Rock
567 Rock
568 Poison
569 Poison
570 Dark
571 Dark
572 Normal
573 Normal
574 Psychic
575 Psychic
576 Psychic
577 Psychic
578 Psychic
579 Psychic
580 Water
581 Water
582 Ice
583 Ice
584 Ice
585 Normal
586 Normal
587 Electric
588 Bug
589 Bug
590 Grass
591 Grass
592 Water
593 Water
594 Water
595 Bug
596 Bug
597 Grass
598 Grass
599 Steel
600 Steel
601 Steel
602 Electric
603 Electric
604 Electric
605 Psychic
606 Psychic
607 Ghost
608 Ghost
609 Ghost
610 Dragon
611 Dragon
612 Dragon
613 Ice
614 Ice
615 Ice
616 Bug
617 Bug
618 Ground
619 Fighting
620 Fighting
621 Dragon
622 Ground
623 Ground
624 Dark
625 Dark
626 Normal
627 Normal
628 Normal
629 Dark
630 Dark
631 Fire
632 Bug
633 Dark
634 Dark
635 Dark
636 Bug
637 Bug
638 Steel
639 Rock
640 Grass
641 Flying
641 Flying
642 Electric
642 Electric
643 Dragon
644 Dragon
645 Ground
645 Ground
646 Dragon
646 Dragon
646 Dragon
647 Water
647 Water
648 Normal
648 Normal
649 Bug
650 Grass
651 Grass
652 Grass
653 Fire
654 Fire
655 Fire
656 Water
657 Water
658 Water
659 Normal
660 Normal
661 Normal
662 Fire
663 Fire
664 Bug
665 Bug
666 Bug
667 Fire
668 Fire
669 Fairy
670 Fairy
671 Fairy
672 Grass
673 Grass
674 Fighting
675 Fighting
676 Normal
677 Psychic
678 Psychic
678 Psychic
679 Steel
680 Steel
681 Steel
681 Steel
682 Fairy
683 Fairy
684 Fairy
685 Fairy
686 Dark
687 Dark
688 Rock
689 Rock
690 Poison
691 Poison
692 Water
693 Water
694 Electric
695 Electric
696 Rock
697 Rock
698 Rock
699 Rock
700 Fairy
701 Fighting
702 Electric
703 Rock
704 Dragon
705 Dragon
706 Dragon
707 Steel
708 Ghost
709 Ghost
710 Ghost
710 Ghost
710 Ghost
710 Ghost
711 Ghost
711 Ghost
711 Ghost
711 Ghost
712 Ice
713 Ice
714 Flying
715 Flying
716 Fairy
717 Dark
718 Dragon
719 Rock
719 Rock
720 Psychic
720 Psychic
721 Fire

In [46]:
df2.loc[df2['Name']=='Volcanion']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [47]:
df2.loc[df2['Type 1']=='Water']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...
656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [48]:
import re
df2.loc[df2['Type 1'].str.contains('^wa[a-z]*',flags=re.I,regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...
656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [49]:
df2.sort_values(['Type 1'],ascending=False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
222,Corsola,Water,Rock,55,55,85,65,85,35,2,False
368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
86,Seel,Water,NaN,65,45,55,45,70,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...
49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False

In [50]:
df2.isnull().sum()

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [51]:
df2['Type 2'].isnull().value_counts()

False    414
True     386
Name: Type 2, dtype: int64

In [52]:
df2['Type 2'].fillna(method='bfill',inplace=True)

In [53]:
df2['Type 2'].isnull().sum()

0

In [54]:
df2.loc[df2['Defense']>50,'Type 1']='water'
df2.head(4)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,water,Poison,60,62,63,80,80,60,1,False
3,Venusaur,water,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,water,Poison,80,100,123,122,120,80,1,False

In [55]:
df2.loc[df2['Defense']>50,['Speed','Generation']]=['1234576','89']
df2.head(4)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,water,Poison,60,62,63,80,80,1234576,89,False
3,Venusaur,water,Poison,80,82,83,100,100,1234576,89,False
3,VenusaurMega Venusaur,water,Poison,80,100,123,122,120,1234576,89,False

In [56]:
df2.corr(method='pearson')

                 HP    Attack   Defense   Sp. Atk   Sp. Def  Legendary
HP         1.000000  0.422386  0.239622  0.362380  0.378718   0.273620
Attack     0.422386  1.000000  0.438687  0.396362  0.263990   0.345408
Defense    0.239622  0.438687  1.000000  0.223549  0.510747   0.246377
Sp. Atk    0.362380  0.396362  0.223549  1.000000  0.506121   0.448907
Sp. Def    0.378718  0.263990  0.510747  0.506121  1.000000   0.363937
Legendary  0.273620  0.345408  0.246377  0.448907  0.363937   1.000000

# CSV

In [57]:
# reading different sources
from io import StringIO,BytesIO

In [58]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [59]:
type(data)

str

In [60]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [61]:
data1=('name,age,DOB\n'
      '1,2,3\n'
      '7,8,9,')

In [62]:
## Combining usecols and index_col
data2 = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [63]:
pd.read_csv(StringIO(data2), usecols=['b', 'c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [64]:
data='a,b\n"hello,\\"BOB\\",nice to see you",5'

In [65]:
pd.read_csv(StringIO(data),escapechar='\\')

                             a  b
0  hello,"BOB",nice to see you  5

In [66]:
df=pd.read_csv("https://download.bls.gov/pub/time.series/cu/cu.item",sep='\t')

In [67]:
df

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359
...,...,...,...,...,...
395,SSEA011,College textbooks,3,T,314
396,SSEE041,Smartphones,4,T,335
397,SSFV031A,Food at elementary and secondary schools,3,T,122
398,SSGE013,Infants' equipment,3,T,356
399,SSHJ031,Infants' furniture,3,T,165

In [69]:
# df.corrwith(df['item_name'])

In [70]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df4=pd.read_json(Data)

In [71]:
from pandas import json_normalize
df4=json_normalize(df4)

In [72]:
df4

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [74]:
import os
import os.path
import ssl
import stat
import subprocess
import sys
STAT_0o775 = ( stat.S_IRUSR | stat.S_IWUSR | stat.S_IXUSR
             | stat.S_IRGRP | stat.S_IWGRP | stat.S_IXGRP
             | stat.S_IROTH |                stat.S_IXOTH )
def main():
    openssl_dir, openssl_cafile = os.path.split(
        ssl.get_default_verify_paths().openssl_cafile)
    print(" -- pip install --upgrade certifi")
    subprocess.check_call([sys.executable,
        "-E", "-s", "-m", "pip", "install", "--upgrade", "certifi"])
    import certifi
    # change working directory to the default SSL directory
    os.chdir(openssl_dir)
    relpath_to_certifi_cafile = os.path.relpath(certifi.where())
    print(" -- removing any existing file or link")
    try:
        os.remove(openssl_cafile)
    except FileNotFoundError:
        pass
    print(" -- creating symlink to certifi certificate bundle")
    os.symlink(relpath_to_certifi_cafile, openssl_cafile)
    print(" -- setting permissions")
    os.chmod(openssl_cafile, STAT_0o775)
    print(" -- update complete")

In [75]:
# url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

# dfs = pd.read_html(url)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1123)>

In [78]:
url='https://en.wikipedia.org/wiki/Mobile_country_code'
dfs=pd.read_html(url,header=0,match='Country')

In [79]:
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [81]:
dfs=pd.read_excel('G:\ML\data analyasis\products.xlsx')

In [82]:
dfs

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...,...
1240,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
1241,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
1242,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
1243,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
1244,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [ ]:
dfs.to_pickl